{% extends "base.html" %}

{% block title %}FECHA {{fecha.numero}} - PARTIDOS{% endblock %}

{% block content %}

<h2>PRODE {{prode.nombre}} - FECHA {{fecha.numero}} - PARTIDOS</h2>

<div class="container bg-dark">
<form action="" method="post">	
{% for partido in partidos %}
	<div class="row bg-secondary text-white">
	
	<div class="col">
		<h4 class="text-left">{{partido.local}}</h4>
	</div>
	

	<div class="col"> 
		{% if partido.resultado %}
			<h4 class="text-center">{{partido.resultado}}</h4>
  		{% else %}
			<h4 class="text-center">-</h4>
  		{% endif %}	
	</div> 
	
	<div class="col">
		<h4 class="text-right">{{partido.visitante}}</h4>
	</div>

</div>	
{% endfor %}
	
	<div class="row bg-secondary text-white">
	
        {% csrf_token %}

        <div class="col">
        	<div class="form-group">
            	{{ form.local }}
        	</div>
        </div>
        <div class="col">
        	<div class="form-group">
            	{{ form.resultado }}
        	</div>
        </div>
		<div class="col">
        	<div class="form-group">
            	{{ form.visitante }}
        	</div>
        </div>
        	


	<button type="submit" class="btn btn-primary">Submit</button>

    </form>

	<a type="button" href="" class="btn btn-primary btn-block btn-dark">+Agregar</a>
	<a type="button" href="" class="btn btn-primary btn-block btn-dark">Editar Resultados</a>
</div>
{% endblock %}