{% extends "base.html" %}

{% block title %}FECHA {{fecha.numero}} - PARTIDOS{% endblock %}

{% block content %}

<h2 align="center">PRODE {{prode.nombre}} - FECHA {{fecha.numero}} - PARTIDOS</h2>

<div class="container bg-dark">
{% for partido in partidos %}
	<div class="row bg-secondary text-white">
	
	<div class="col">
		<h4 class="text-left">{{partido.local}}</h4>
	</div>
	

	<div class="col"> 
		{% if partido.pk == partido_pk %}
			<form action="" method="post">
        			{% csrf_token %}
        			<div class="form-group">
            			{{ form.resultado }}
        			</div>

        		<button type="submit" class="btn btn-primary">Submit</button>

   				 </form>
			{% else %}
				{% if partido.resultado %}
				<h4 class="text-center">{{partido.resultado}}</h4>
  					{% else %}
				<h4 class="text-center">-</h4>
  			{% endif %}
  		{% endif %}	
	</div> 
	
	<div class="col">
		<h4 class="text-right">{{partido.visitante}}</h4>
	</div>
	
	</div>
{% endfor %}
	<a type="button" href="../agregar_partido/" class="btn btn-primary btn-block btn-dark">+Agregar</a>
</div>
{% endblock %}