{% extends "base.html" %}

{% block title %}FECHA {{fecha.numero}} - PARTIDOS{% endblock %}

{% block content %}

<h2>PRODE {{prode.nombre}} - FECHA {{fecha.numero}} - PARTIDOS</h2>

<div class="container bg-dark">
{% for partido in partidos %}
	<div class="row bg-secondary text-white">
	
	<div class="col">
		<h4 class="text-left">{{partido.local}}</h4>
	</div>
	
	<div class="col"> 
		<h4 class="text-center">-</h4>
	</div> 
	
	<div class="col">
		<h4 class="text-right">{{partido.visitante}}</h4>
	</div>
	</div>
{% endfor %}
</div>
{% endblock %}