{% extends "base.html" %}

{% block title %}PRODES{% endblock %}

{% block content %}
<div class="container-fluid">
  <h1>PARTICIPANTES {{prode.nombre}}</h1>        
</div>

<div class="container-fluid">
    <div class="row">
    {% for participante in participantes %}
    <button type="button" href="" class="btn btn-primary btn-block btn-dark">{{ participante.nombre }}</button>
    {% endfor %}
     <button type="button" href="" class="btn btn-primary btn-block btn-light">+Agregar</button>
  </div>
</div>
{% endblock %}
