{% extends "base.html" %}

{% block title %}PRODES{% endblock %}

{% block content %}
<div class="container-fluid">
  <h1>PRODES</h1>        
</div>

<div class="container-fluid">
    <div class="row">
    {% for prode in prodes %}
    <a type="button" href="{% url 'prode_menu' prode.pk %}" class="btn btn-primary btn-block btn-dark">{{ prode.nombre }}</a>
    {% endfor %}
     <a type="button" href="/agregar_prode/" class="btn btn-primary btn-block btn-light">+Agregar</a>
  </div>
</div>
{% endblock %}
