{% extends "base.html" %}

{% block title %}{{prode.nombre}} - TABLA DE PUNTOS{% endblock %}

{% block content %}

<h2>PRODE {{prode.nombre}} - TABLA PUNTOS</h2>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Participantes</th>
        <th>Ptos</th>
        <th>Plenos</th>
        
      </tr>
    </thead>
    <tbody>
      {% for k,v in participante_ptos.items %}
        
          <tr>
          <td>{{k}}</td>
          <td>{{v}}</td>
          
          </tr>          
        {% endfor %}

      
         
    </tbody>
  </table>
</div>


{% endblock %}